= stylesheet_link_tag 'jquery.fancybox'
= javascript_include_tag 'jquery.fancybox.pack'

:javascript
  $(document).ready(function() {
    $(".img_gal").fancybox({
      padding: 0
    });
  });

%article

  = render 'welcome'
  = render 'works'
  = render 'contacts'