!!!
%html
  %head
    - if I18n.locale == :ru
      %title Ruby on Rails разработчик
    - else
      %title Ruby on Rails developer


    = csrf_meta_tag

    %meta{:name => "google-site-verification", :content => "OKuMj4YDTJuK53R2hk-v83MkfXThWbE6r076BJWNO_o"}

    - if I18n.locale == :ru
      %meta{:content => "Мое портфолио. nikita@gnotov.com", :name => "description"}
      %meta{:content => "веб дизайн, разработка сайта, сделать сайт, Ruby on Rails, RoR", :name => "keywords"}
    - else
      %meta{:content => "Ruby on Rails developer portfolio.", :name => "description"}
      %meta{:content => "web design, web studio, website development, Ruby on Rails, RoR", :name => "keywords"}

    :plain

      <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
      <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">

  %body.inner
    #container
      %header
        %a#logo{:href => root_path}
        %ul.navi
          %li
            = render '/shared/languages'
          %li
            = render '/shared/header'
        .clearfix

      %section
        %article
          = yield

    = stylesheet_link_tag 'application', :async => true
    = javascript_include_tag 'application', :async => true

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36198715-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
